        body {
            background-color: #5F7161;
            color: #EFEAD8;
            font-family: Calibri;
            
        } 
        a:visited {
            color: #D0C9C0;
            background-color: transparent;
            text-decoration: none;
        }
/*
        a:link {
            background-color: transparent;
            text-decoration: none;
          }
*/
        hr {
            background-color: none;
            border-style: dotted none none;
            border-width: 5px;
            border-color: #E2DEA9;
            width: 30%;
            margin-left: 0;
        }
        h1 {
            color: #E6BA95;
        }
        h3 {
            color: #E6BA95;
        }
