        body {
            background-color: #5F7161;
            color: #EFEAD8;
            font-family: Calibri;
            
        } 
        a:visited {
            color: #D0C9C0;
            background-color: transparent;
            text-decoration: none;
        }
/*
        a:link {
            background-color: transparent;
            text-decoration: none;
          }
*/
        hr {
            background-color: none;
            border-style: dotted none none;
            border-width: 5px;
            border-color: #E2DEA9;
            width: 100%;
            margin-left: 0;
        }
        h1 {
            color: #E6BA95;
        }
        h3 {
            color: #E6BA95;
        }
        h4 {
            color: #E6BA95;
        }
        h5 {
            color: #E6BA95;
        }
        h6 {
            color: #E6BA95;
        }
        p {
            color: #EFEAD8;
        }
        .container {
            width: 100%;
            margin: 0 auto;
            background-color: #5F7161;
        }
        .header {
            background-color: #5F7161;
            color: #EFEAD8;
            text-align: center;
            padding: 20px;
        }
        .nav {
            line-height: 30px;
            background-color: #5F7161;
            height: 300px;
            width: 100px;
            float: left;
            padding: 5px;	      
        }